.pahina-logo {
    width: 200px;
    height: 70px;
}

.navbar-link {
    text-decoration: none;
    padding: 10px;
    margin: 2px;
    color: black;
}

.navbar-link:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    background-color: rgb(241, 241, 241);
}
